[Unit]
Description=Write weather info from wttr.in every 15 minutes
#RefuseManualStart=no  # Allow manual starts
#RefuseManualStop=no   # Allow manual stops

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true
#Run 120 seconds after boot for the first time
OnBootSec=0
#Run every 1 minute thereafter
OnUnitActiveSec=900
#File describing job to execute
#Unit=writeweather.service
#OnCalendar=*-*-* *:*:00
Unit=writeweather.service

[Install]
WantedBy=timers.target
